fastapi
alembic
pydantic_settings
uvicorn[standard]
sqlalchemy
pymysql
pydantic[email]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
python-jose[cryptography]

# npm create vite@latest frontend -- --template svelte
    # cd frontend
    # npm install
# npm install svelte-spa-router
# npm install bootstrap
# $ npm run dev
